* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 60px;
}
.car-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    align-content: center;
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.text{
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.loading {
    background-color: rgb(32, 94, 32);
    color: white;
    text-align: center;
    width: 30%;
    border-radius: 6px;
    margin-bottom: 10px;
}